.ChipsConsole {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.ChipsConsole button {
  margin: 15px;
}

.Five {
  background-image: url('../../../Assets/chips/fiveChip.jpg');
}

.TwentyFive {
  background-image: url('../../../Assets/chips/twentyFiveChip.jpg');
}

.OneHundred {
  background-image: url('../../../Assets/chips/oneHundredChip.jpg');
}

.FiveHundred {
  background-image: url('../../../Assets/chips/fiveHundredChip.jpg');
}