.ButtonConsole {
  border-radius: 10px;
  position: fixed;
  right: 0;
  bottom: 70px;
  display: flex;
  flex-direction: column;
}

.ButtonDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DoubleDown {
  background-image: url('../../../Assets/svg/doubleDown.svg');
}

.Hit {
  background-image: url('../../../Assets/svg/hit.svg');
}

.Stand {
  background-image: url('../../../Assets/svg/stand.svg');
}

.Split {
  background-image: url('../../../Assets/svg/split.svg');
}

.Surrender {
  background-image: url('../../../Assets/svg/surrender.svg');
}

.Insurance {
  background-image: url('../../../Assets/svg/insurance.svg');
}

.Next {
  background-image: url('../../../Assets/svg/next.svg');
}

button {
  position: relative;
  height: 80px;
  width: 80px;
  font-size: 18px;
  border-radius: 50%;
  margin: 5px;
  background-size: cover;
  background-position: center;
  color: white;
}

button:hover {
  box-shadow: 3px 3px 6px lightslategray;
  cursor: pointer;
}